<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
  <listener class-name="api.utilites.ExtentTestNGListener"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
    <class name="api.utilites.Outh2TokenGenerator"></class>
    <class name="api.payload.tata.PayloadView"/>
    <class name="api.payload.tata.proposalCompose.ProposalPayloadView"></class>
    <class name="api.payload.tata.payment.PaymentApi"></class>

     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
